<div class="section-heading style-2">
    <h4>Tin mới nhất</h4>
    <div class="line"></div>
</div>

<div class="featured-post-slides owl-carousel mb-30">
    <!-- Single Feature Post -->
    <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/14.jpg);">


        <!-- Post Content -->
        <div class="post-content">
            <a href="category-list.html" class="post-cata">Kinh doanh</a>
            <a href="single-post.html" class="post-title">
                Ùn ứ nông sản không thuộc danh mục xuất khẩu chính ngạch tại Lạng Sơn</a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 23</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 334</a>
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 123</a>
            </div>
        </div>


    </div>

    <!-- Single Feature Post -->
    <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/7.jpg);">


        <!-- Post Content -->
        <div class="post-content">
            <a href="category-list.html" class="post-cata">Thể thao</a>
            <a href="single-post.html" class="post-title">
                Siêu sao châu Á ghi bàn khủng tại Champions League là ai?
            </a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 222</a>
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 211</a>
            </div>
        </div>

    </div>
    <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/8.jpg);">


        <!-- Post Content -->
        <div class="post-content">
            <a href="category-list.html" class="post-cata">Sức khỏe</a>
            <a href="single-post.html" class="post-title">
                Phương pháp đột phá đẩy lùi "ung thư tử thần"
            </a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 234</a>
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 142</a>
            </div>
        </div>

    </div>
    <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/50.jpg);">


        <!-- Post Content -->
        <div class="post-content">
            <a href="category-list.html" class="post-cata">Tội phạm</a>
            <a href="single-post.html" class="post-title">
                Lý do gia đình nạn nhân xin giảm án cho Châu Việt Cường
            </a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 233</a>
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</a>
            </div>
        </div>

    </div>
</div>