<div class="row">
    <div class="col-12">
        <!-- ================= Những bài viết nổi bật trong tuần ================= -->
        <div class="section-heading">
            <h4>Bài viết nổi bật trong tuần</h4>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Bài viết thứ 1 -->
    <div class="col-12 col-md-4">
        <div class="single-post-area mb-80">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="/img/bg-img/11.jpg" alt="">


            </div>

            <!-- Post Content -->
            <div class="post-content">
                <a href="category-list.html" class="post-cata cata-sm cata-success">Thể thao</a>
                <a href="single-post.html" class="post-title">
                    “Khủng long” gây sốt Đông Nam Á: VĐV 2m21 - 134kg có đôi tay ma thuật</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 55</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 201</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 124</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bài viết thứ 2 -->
    <div class="col-12 col-md-4">
        <div class="single-post-area mb-80">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="/img/bg-img/10.jpg" alt="">
            </div>

            <!-- Post Content -->
            <div class="post-content">
                <a href="category-list.html" class="post-cata cata-sm cata-danger">Thị trường</a>
                <a href="single-post.html" class="post-title">
                    Giá vàng hôm nay 18/4: Chưa thoát chuỗi đen tối, vàng mò đáy 4 tháng</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 134</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 57</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="col-12 col-md-4">
        <div class="single-post-area mb-80">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="/img/bg-img/15.jpg" alt="">

            </div>

            <!-- Post Content -->
            <div class="post-content">
                <a href="category-list.html" class="post-cata cata-sm cata-primary">Kinh doanh</a>
                <a href="single-post.html" class="post-title">
                    Nhộn nhịp thị trường hải sản</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 11</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 123</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 33</a>
                </div>
            </div>
        </div>
    </div>
</div>