<div class="row">
    <div class="col-12">
        <!-- =================Top 10 trending================= -->
        <div class="section-heading">
            <h4>Top 10 bài viết được xem nhiều nhất</h4>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12 col-md-7 col-lg-8">
        <div class="tab-content">

            <!--  Post Content -->
            <div class="tab-pane fade show active" id="post-1" role="tabpanel" aria-labelledby="post-1-tab">
                <!-- Thể thao -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/7.jpg);">
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Thể thao</a>
                        <a href="single-post.html" class="post-title">Siêu sao châu Á ghi bàn khủng tại
                            Champions League là ai?</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 281</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 203</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>
                </div>
            </div>

            <div class="tab-pane fade" id="post-2" role="tabpanel" aria-labelledby="post-2-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/8.jpg);">
                    <!-- Post Content 1-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Sức khỏe</a>
                        <a href="single-post.html" class="post-title">Phương pháp đẩy lùi "ung thư tử thần"</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 133</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 120</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>
                </div>
            </div>
            <div class="tab-pane fade" id="post-3" role="tabpanel" aria-labelledby="post-3-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/9.jpg);">


                    <!-- Post Content 2-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Tội phạm</a>
                        <a href="single-post.html" class="post-title">Chồng sát hại vợ trong phòng ngủ rồi tự
                            sát
                            không thành</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 56</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 302</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 210</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>

                </div>
            </div>

            <div class="tab-pane fade" id="post-4" role="tabpanel" aria-labelledby="post-4-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/10.jpg);">


                    <!-- Post Content 3-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Thị trường</a>
                        <a href="single-post.html" class="post-title">Giá vàng hôm nay 18/4: Chưa thoát chuỗi
                            đen tối,
                            vàng mò đáy 4 tháng</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 120</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 98</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">18/4/2019</span>

                </div>
            </div>

            <div class="tab-pane fade" id="post-5" role="tabpanel" aria-labelledby="post-5-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/11.jpg);">


                    <!-- Post Content 4-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Thể thao</a>
                        <a href="single-post.html" class="post-title">“Khủng long” gây sốt Đông Nam Á: VĐV 2m21
                            -
                            134kg có đôi tay ma thuật</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 55</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 127</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 100</a>
                        </div>
                    </div>

                    <!-- Ngày đăng -->
                    <span class="news-duration">18/4/2019</span>
                </div>
            </div>

            <div class="tab-pane fade" id="post-6" role="tabpanel" aria-labelledby="post-6-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/12.jpg);">
                    <!-- Post Content 5-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Sức khỏe</a>
                        <a href="single-post.html" class="post-title">Chuyên gia nam khoa mách 2 món ăn cho mày
                            râu
                            yếu sinh lý</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 11</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 200</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 123</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>
                </div>
            </div>

            <div class="tab-pane fade" id="post-7" role="tabpanel" aria-labelledby="post-7-tab">
                <!-- news -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/13.jpg);">
                    <!-- Post Content 6-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Thị trường</a>
                        <a href="single-post.html" class="post-title"> Giá cà phê tiếp tục tiêu cực
                            (18/04/2019)</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 23</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 221</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 200</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>

                </div>
            </div>

            <div class="tab-pane fade" id="post-8" role="tabpanel" aria-labelledby="post-8-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/14.jpg);">
                    <!-- Post Content 7-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Kinh doanh</a>
                        <a href="single-post.html" class="post-title">Ùn ứ nông sản không thuộc danh mục xuất
                            khẩu
                            chính ngạch tại Lạng Sơn</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 100</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 56</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>

                </div>
            </div>

            <div class="tab-pane fade" id="post-9" role="tabpanel" aria-labelledby="post-9-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/15.jpg);">
                    <!-- Post Content 8-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Kinh doanh</a>
                        <a href="single-post.html" class="post-title">Nhộn nhịp thị trường hải sản</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 43</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 402</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 320</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>

                </div>
            </div>

            <div class="tab-pane fade" id="post-10" role="tabpanel" aria-labelledby="post-10-tab">
                <!-- Single Feature Post -->
                <div class="single-news-post news-post bg-img" style="background-image: url(/img/bg-img/16.jpg);">
                    <!-- Post Content 9-->
                    <div class="post-content">
                        <a href="category-list.html" class="post-cata">Sports</a>
                        <a href="single-post.html" class="post-title">Công Phượng nói gì sau 6 trận thua liên
                            tiếp của
                            Incheon United?</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 234</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 124</a>
                        </div>
                    </div>
                    <!-- Ngày đăng -->
                    <span class="news-duration">17/4/2019</span>

                </div>
            </div>
        </div>
    </div>


    <!-- --------------- Single Blog Post --------------- -->
    <div class="col-12 col-md-5 col-lg-4">
        <ul class="nav vizew-nav-tab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="post-1-tab" data-toggle="pill" href="#post-1" role="tab"
                    aria-controls="post-1" aria-selected="true">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/7.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Siêu sao châu Á ghi bàn khủng tại Champions League là ai?
                            </h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 32</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 281</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 203</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-2-tab" data-toggle="pill" href="#post-2" role="tab" aria-controls="post-2"
                    aria-selected="false">
                    <!-- ung thư -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/8.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Phương pháp đột phá đẩy lùi "ung thư tử thần"</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 30</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 133</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 120</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-3-tab" data-toggle="pill" href="#post-3" role="tab" aria-controls="post-3"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/9.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Chồng sát hại vợ trong phòng ngủ rồi tự sát không thành
                            </h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 56</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 302</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 210</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-4-tab" data-toggle="pill" href="#post-4" role="tab" aria-controls="post-4"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/10.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Giá vàng hôm nay 18/4: Chưa thoát chuỗi đen tối, vàng mò
                                đáy 4 tháng</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 25</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 120</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 98</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">18/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-5-tab" data-toggle="pill" href="#post-5" role="tab" aria-controls="post-5"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/11.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">“Khủng long” gây sốt Đông Nam Á: VĐV 2m21 - 134kg có đôi
                                tay ma thuật</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 55</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 127</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 100</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">18/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-6-tab" data-toggle="pill" href="#post-6" role="tab" aria-controls="post-6"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/12.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Chuyên gia nam khoa mách 2 món ăn cho mày râu yếu sinh lý
                            </h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 11</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 200</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 123</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="post-7-tab" data-toggle="pill" href="#post-7" role="tab" aria-controls="post-7"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/13.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title"> Giá cà phê tiếp tục tiêu cực (18/04/2019)</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 23</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 221</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 200</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">18/4/2019</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="post-8-tab" data-toggle="pill" href="#post-8" role="tab" aria-controls="post-8"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/14.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Ùn ứ nông sản không thuộc danh mục xuất khẩu chính ngạch
                                tại Lạng Sơn</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 12</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 100</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 56</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="post-9-tab" data-toggle="pill" href="#post-9" role="tab" aria-controls="post-9"
                    aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/15.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Nhộn nhịp thị trường hải sản</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 43</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 402</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 320</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="post-10-tab" data-toggle="pill" href="#post-10" role="tab"
                    aria-controls="post-10" aria-selected="false">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-2 d-flex align-items-center">
                        <div class="post-thumbnail">
                            <img src="/img/bg-img/16.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">Công Phượng nói gì sau 6 trận thua liên tiếp của Incheon
                                United?</h6>
                            <div class="post-meta d-flex justify-content-between">
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> 12</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 234</span>
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 124</span>
                            </div>
                        </div>
                        <!-- Ngày đăng -->
                        <span class="news-duration">17/4/2019</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>