<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Thêm người dùng</h4>
                        <div class="line"></div>
                    </div>

                    <form method="post">
                        <div class="form-group">
                            <p><b>người dùng mới</b></p>
                            <input type="text" class="form-control" name="name" autofocus placeholder="Nhập tên người dùng">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="username" autofocus placeholder="Nhập tài khoản người dùng">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" autofocus placeholder="Nhập mật khẩu người dùng">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="email" autofocus placeholder="Nhập email người dùng">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" autofocus placeholder="Nhập số điện thoại người dùng">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="position" autofocus placeholder="Nhập vị trí người dùng">
                        </div>
                        
                        
                        <button type="submit" class="btn vizew-btn w-100 mt-30">Lưu lại</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>