<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Thêm bài viết</h4>
                        <div class="line"></div>
                    </div>
                     Do something like editor  
                   
                   
                    {{!-- <form method="post">
                        <div class="form-group">
                            <p><b>Chuyên mục mới</b></p>
                            <input type="text" class="form-control" name="name" autofocus placeholder="Nhập tên chuyên mục">
                        </div>

                        <button type="submit" class="btn vizew-btn w-100 mt-30">Lưu lại</button>

                    </form> --}}
                </div>
            </div>
        </div>
    </div>
</div>