{{>breadcrumb}}
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Quên thông tin tài khoản</h4>
                        <div class="line"></div>
                    </div>

                    <form action="index.html" method="post">
                        <div class="form-group">
                            <p><b>Mật khẩu mới</b></p>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <p><b>Nhập lại mật khẩu mới</b></p>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <button class="btn vizew-btn w-100 mt-30">Xong</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>