{{>breadcrumb}}
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Quên thông tin tài khoản</h4>
                        <div class="line"></div>
                    </div>

                    <form action="index.html" method="post">
                        <div class="form-group">
                            <p><b>Chúng tôi đã gởi mã OTP đến email của bạn, bạn vui lòng nhập mã OTP tại đây</b></p>
                            <input type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <button type="submit" class="btn vizew-btn w-100 mt-30">Tiếp tục</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>