    {{>breadcrumb}}

<!-- ##### Contact Area Start ##### -->
<section class="contact-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading style-2">
                    <h4>Liên lạc</h4>
                    <div class="line"></div>
                </div>

                <p>Mọi ý kiến, thắc mắc xin vui lòng để lại đây. Chúng tôi sẽ tiếp nhận và phản hồi trong thời gian sớm
                    nhất.</p>
                <p><b>Địa chỉ: </b>227 Nguyễn Văn Cừ, Quận 5, TPHCM</p>
                <p><b>SĐT: </b>0987654321</p>
                <p><b>Email: </b>contact@vizew.com</p>
                <p>Xin cảm ơn!</p>
                <!-- Contact Form Area -->
                <div class="contact-form-area mt-50">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="name">Tên*</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Nội dung*</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea>
                        </div>
                        <button class="btn vizew-btn mt-30" type="submit">Gửi</button>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget newsletter-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Cập nhật tin</h4>
                            <div class="line"></div>
                        </div>
                        <p>Để lại email để nhận những thông tin mới nhất từ VIZEW</p>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form">
                            <form action="#" method="post">
                                <input type="email" name="nl-email" class="form-control mb-15" id="emailnl"
                                    placeholder="Nhập email">
                                <button type="submit" class="btn vizew-btn w-100">Theo dõi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->