<!-- ##### Top 10 trending ##### -->
<section class="center-area section-padding-80">
    <div class="container">
        {{>top10trending}}
    </div>
</section>

<!-- ##### Featured Post ##### -->
<section class="trending-posts-area">
    <div class="container">
        
        {{>featuredpostByWeek}}
        
    </div>
</section>

<!-- ##### Latest Post and Top 10 Category ##### -->
<section class="vizew-post-area mb-30">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">
                    <!-- ####### Top 10 Latest Post ######## -->
                    {{>10latestpost}}

                    <!-- ####### Top 10 Category ######## -->
                    {{>top10category}}
                </div>
            </div>

            {{>sidebar}}
        </div>
    </div>
    </div>
</section>
