
    {{>breadcrumb}}

    <!-- ##### Login Area Start ##### -->
    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Đăng nhập</h4>
                            <div class="line"></div>
                        </div>

                        <!-- {{#if isLoginError}}
                            <div class="alert alert-danger" role="alert">
                            Tên tài khoản hoặc mật khẩu không chính xác. Vui lòng kiểm tra lại!
                            </div>
                        {{/if}} -->
                        {{#if err_message}}
                            <div class="alert alert-danger" role="alert">
                            {{err_message}}
                            </div>
                        {{/if}}

                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Tên tài khoản hoặc Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                                <a href="/forgetpassword">Quên mật khẩu?</a>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing" style="color:gray">Nhớ tài khoản</label>
                                </div>
                            </div>
                            <button type="submit" class="btn vizew-btn w-100 mt-30">Đăng nhập</button>

                            <div align="center">
                                <br><span style="color:gray">Bạn chưa có tài khoản? </span><a href="/signup">Đăng kí</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->