{{>breadcrumb}}

{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('#signupForm').validate({
                rules: {
                    name:  { required: true},
                    username: { required: true, remote: { url: '/signup/is-available'} },
                    password: { required: true },
                    email: {required: true, email: true}, 
                    gender: {required: true},
                    confirm: {required: true, equalTo: $('[name="password"]')}
                },
                messages: {
                    name: { required: 'Hãy nhập Tên tài khoản'},
                    username: { required: 'Hãy nhập Tên tài khoản', remote: 'Tài khoản đã tồn tại, vui lòng chọn tài khoản khác'  },
                    password: {required: 'Hãy nhập Mật khẩu'},
                    email: {required: 'Hãy nhập Email'}, 
                    gender: {required: 'Hãy nhập giới tính'},
                    confirm: {required: 'Hãy nhập lại mật khẩu', equalTo: 'Mật khẩu nhập chưa đúng'}
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function(e){
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function(e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });
    </script>
{{/section}}

<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Đăng kí thành viên</h4>
                        <div class="line"></div>
                    </div>

                    <form novalidate method="post" action="" id="signupForm" onsubmit="return checkform(this);">
                        <div class="form-group">
                            <p><b>Họ và tên</b></p>
                            <input type="text" class="form-control" name="name" placeholder="Nguyễn Văn A">
                        </div>
                        <div class="form-group">
                            <p><b>Giới tính</b></p>
                            <input type="radio" name="gender" value="Nam" id="radiobtnNam" checked></input>
                            <label for="radiobtnNam" style="color:gray">Nam </label>
                            <input type="radio" name="gender" value="Nữ" id="radiobtnNu"></input>
                            <label for="radiobtnNu" style="color:gray">Nữ </label>
                        </div>
                        <div class="form-group">
                            <p><b>Tên tài khoản:</b></p>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <p><b>Mật khẩu</b></p>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <p><b>Nhập lại mật khẩu</b></p>
                            <input type="password" name="confirm" class="form-control">
                        </div>
                        <div class="form-group">
                            <p><b>Email</b></p>
                            <input type="email" name="email" class="form-control" placeholder="nva@vizew.com">
                        </div>

                        <div class="form-group" style="display: flex;justify-content: center;flex-direction: column;">
                                <div id="CaptchaDiv"
                                    style="height: 50px; display: table-cell; vertical-align: middle;width: 200px;font-size: 20pt;font-family: cursive;font-weight: 700;text-align: center;margin: 0 auto;">
                                </div>

                                <div class="capbox-inner" style="width: 200px;height: 70px;background-image: linear-gradient(to top left, red, yellow);">
                                    <label for="#CaptchaInput" style="font-size: 11pt">Nhập Captcha:</label>
                                    <input type="hidden" id="txtCaptcha" >
                                    <input type="text" name="CaptchaInput" id="CaptchaInput" style="height: 30px; width: 100%;border-radius: 3px; padding-left: 10px; padding-right: 10px;" size="18">
                                </div>
                        </div>    

                        <button type="submit" class="btn vizew-btn w-100 mt-30">Đăng kí</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function checkform(theform){
        var why = "";

        if(theform.CaptchaInput.value == ""){
        why += "Vui lòng nhập đúng captcha.\n";
        }
        if(theform.CaptchaInput.value != ""){
        if(ValidCaptcha(theform.CaptchaInput.value) == false){
        why += "Mã captcha không khớp.\n";
        }
        }
        if(why != ""){
        alert(why);
        return false;
        }
    }

    var a = Math.ceil(Math.random() * 9)+ '';
    var b = Math.ceil(Math.random() * 9)+ '';
    var c = Math.ceil(Math.random() * 9)+ '';
    var d = Math.ceil(Math.random() * 9)+ '';
    var e = Math.ceil(Math.random() * 9)+ '';

    var code = a + b + c + d + e;
    document.getElementById("txtCaptcha").value = code;
    document.getElementById("CaptchaDiv").innerHTML = code;

    // Validate input against the generated number
    function ValidCaptcha(){
    var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
    var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
    if (str1 == str2){
    return true;
    }else{
    return false;
    }
    }

    // Remove the spaces from the entered and generated code
    function removeSpaces(string){
    return string.split(' ').join('');
}
</script>