<div class="tab-pane fade" id="DaDuocDuyetBai" role="tabpanel" aria-labelledby="tab-css">
        <br>
        <h3 style="text-align: center">Danh sách bài viết đã được duyệt</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>


            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>

            </tbody>
        </table>
    </div>