<div class="tab-content container">
    <div class="tab-pane fade show active" id="DangBai" role="tabpanel" aria-labelledby="tab-javascript">
        <div id="alerts">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <br>
                            <h4>Đăng bài</h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <noscript>
                    <p>
                        <strong>CKEditor requires JavaScript to run</strong>. In a browser with no JavaScript
                        support, like yours, you should still see the contents (HTML data) and you should
                        be able to edit it normally, without a rich editor interface.
                    </p>
                </noscript>
          
                    <form action="/writer/writepost" method="post">

                        <div class="form-group">
                            <p><b>Tên bài viết:</b></p>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="titlepost">
                        </div>

                        <div class="form-group">
                            <p><b>Tóm tắt nội dung:</b></p>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="summary">
                        </div>

                        <div class="form-group">
                            <p><b>Chuyên mục:</b></p>
                            <select class="form-control" name="idcategory">
                                {{#each categories}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>

                        </div>

                        <p><b>Nội dung:</b></p>
                        <textarea cols="100" id="editor1" name="editor1" rows="10"></textarea>

                        <script>
                            // Replace the <textarea id="editor1"> with an CKEditor instance.
                            CKEDITOR.replace('editor1', {
                                on: {
                                    focus: onFocus,
                                    blur: onBlur,

                                    // Check for availability of corresponding plugins.
                                    pluginsLoaded: function (evt) {
                                        var doc = CKEDITOR.document, ed = evt.editor;
                                        if (!ed.getCommand('bold'))
                                            doc.getById('exec-bold').hide();
                                        if (!ed.getCommand('link'))
                                            doc.getById('exec-link').hide();
                                    }
                                }
                            });
                        </script>

                        <p id="eMessage" style="text-align:center">
                        </p>

                        <div id="eButtons" style="display: none;text-align:center;">
                            <input class="post-cata cata-sm cata-success" id="exec-bold"
                                onclick="ExecuteCommand('bold');" type="button"
                                value="Execute &quot;bold&quot; Command">
                            <input class="post-cata cata-sm cata-success" id="exec-link"
                                onclick="ExecuteCommand('link');" type="button"
                                value="Execute &quot;link&quot; Command">
                            <input class="post-cata cata-sm cata-success" onclick="Focus();" type="button"
                                value="Focus">
                            <br><br>


                        </div>

                        <button type="submit" class="btn vizew-btn w-100 mt-30">Đăng bài</button>
                    </form>

            </div>

        </div>

    </div>
</div>