<div class="tab-content container">
    <div class="tab-pane fade show active" id="DangBai" role="tabpanel" aria-labelledby="tab-javascript">
        <div id="alerts">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <br>
                            <h4>Đăng bài</h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p><b>Tên bài viết:</b></p>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>

                <div class="form-group">
                    <p><b>Chuyên mục:</b></p>
                    <select class="form-control">
                        <option>Thể thao</option>
                        <option>Sức khỏe</option>
                        <option>Tội phạm</option>
                        <option>Kinh doanh</option>
                        <option>Thị trường</option>
                    </select>
                </div>

                <noscript>
                    <p>
                        <strong>CKEditor requires JavaScript to run</strong>. In a browser with no JavaScript
                        support, like yours, you should still see the contents (HTML data) and you should
                        be able to edit it normally, without a rich editor interface.
                    </p>
                </noscript>
                <div class="form-group">
                    <p><b>Nội dung:</b></p>
                    <form action="#" method="post">
                        <textarea cols="100" id="editor1" name="editor1" rows="10"></textarea>

                        <script>
                            // Replace the <textarea id="editor1"> with an CKEditor instance.
                            CKEDITOR.replace('editor1', {
                                on: {
                                    focus: onFocus,
                                    blur: onBlur,

                                    // Check for availability of corresponding plugins.
                                    pluginsLoaded: function (evt) {
                                        var doc = CKEDITOR.document, ed = evt.editor;
                                        if (!ed.getCommand('bold'))
                                            doc.getById('exec-bold').hide();
                                        if (!ed.getCommand('link'))
                                            doc.getById('exec-link').hide();
                                    }
                                }
                            });
                        </script>

                        <p id="eMessage" style="text-align:center">
                        </p>

                        <div id="eButtons" style="display: none;text-align:center;">
                            <input class="post-cata cata-sm cata-success" id="exec-bold"
                                onclick="ExecuteCommand('bold');" type="button"
                                value="Execute &quot;bold&quot; Command">
                            <input class="post-cata cata-sm cata-success" id="exec-link"
                                onclick="ExecuteCommand('link');" type="button"
                                value="Execute &quot;link&quot; Command">
                            <input class="post-cata cata-sm cata-success" onclick="Focus();" type="button"
                                value="Focus">
                            <br><br>


                        </div>
                    </form>
                </div>
            </div>
            <div style="text-align: center;margin-top:20px;">
                <button type="button" style="width: 300px;" class="btn btn-success">Đăng bài</button>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="DaDuocDuyetBai" role="tabpanel" aria-labelledby="tab-css">
        <br>
        <h3 style="text-align: center">Danh sách bài viết đã được duyệt</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>


            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="DaXuatBan" role="tabpanel" aria-labelledby="tab-bootstrap">
        <br>
        <h3 style="text-align: center">Danh sách bài viết đã xuất bản</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>


            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>


                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="BiTuChoi" role="tabpanel" aria-labelledby="tab-bootstrap">
        <br>
        <h3 style="text-align: center">Danh sách bài viết bị từ chối</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>
                    <th>Lý do</th>
                    <th>Chỉnh sửa bài</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="ChuaDuocDuyet" role="tabpanel" aria-labelledby="tab-bootstrap">
        <br>
        <h3 style="text-align: center">Danh sách bài viết chưa được duyệt</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>

                    <th>Chỉnh sửa bài</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>

                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>

                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>