<div class="tab-pane fade " id="BiTuChoi" role="tabpanel" aria-labelledby="tab-bootstrap">
        <br>
        <h3 style="text-align: center">Danh sách bài viết bị từ chối</h3><br>
        <table class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày đăng</th>
                    <th>Trạng thái</th>
                    <th>Lý do</th>
                    <th>Chỉnh sửa bài</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                    <td><a href="#"><button type="button" style="width: 300px;" class="btn btn-warning">Sửa
                                bài</button></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>