<table id="daDuyet" class="table">
    <thead style="background: #5F9EA0">
        <tr class="info">
            <th>STT</th>
            <th>Tên phóng viên</th>
            <th>Tên bài viết</th>
            <th>Chuyên mục</th>
            <th>Nhãn</th>
            <th>Ngày xuất bản</th>
    </thead>
    <tbody style="background: #FFEBCD">
        <tr>
            <td>1</td>
            <td>abcxyz</td>
            <td>def@somemail.com</td>
            <td>Default</td>
            <td>#Default</td>
            <td>5/5/2019</td>
        </tr>
    </tbody>
</table>