<table class="table">
    <thead style="background: #5F9EA0">
        <tr class="info">
            <th>STT</th>
            <th>Tên phóng viên</th>
            <th>Tên bài viết</th>
            <th>Chuyên mục</th>
            <th>Ngày gửi bài viết</th>
            <th>Trạng thái</th>
    </thead>
    <tbody style="background: #FFEBCD">
        <tr>
            <td>1</td>
            <td>abcxyz</td>
            <td>def@somemail.com</td>
            <td>Default</td>
            <td>Defaultson</td>
            <td>
                <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                        onclick="promptthree()">Duyệt</button></a>
                <script type="text/javascript">
                    function promptthree() {
                        prompt("Chuyên mục", '');
                        prompt("Nhãn", '');
                        prompt("Ngày xuất bản", '');
                    }
                </script>
                <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                        onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
            </td>
        </tr>

    </tbody>
</table>