<table id="biTuChoi" class="table">
    <thead style="background: #5F9EA0">
        <tr class="info">
            <th>STT</th>
            <th>Tên phóng viên</th>
            <th>Tên bài viết</th>
            <th>Chuyên mục</th>
            <th>Ngày gửi bài viết</th>
            <th>Lý do từ chối</th>
    </thead>
    <tbody style="background: #FFEBCD">
        <tr>
            <td>1</td>
            <td>abcxyz</td>
            <td>def@somemail.com</td>
            <td>Default</td>
            <td>Defaultson</td>
            <td>Viết sai từ vựng</td>
        </tr>
    </tbody>
</table>