<div class="tab-content container">
    <div class="tab-pane fade show active" id="duyetBai" role="tabpanel" aria-labelledby="tab-css">
        <table id="DuyetBaiViet" class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên phóng viên</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày gửi bài viết</th>
                    <th>Trạng thái</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="promptthree()">Duyệt</button></a>
                        <script type="text/javascript">
                            function promptthree() {
                                prompt("Chuyên mục", '');
                                prompt("Nhãn", '');
                                prompt("Ngày xuất bản", '');
                            }
                        </script>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="promptthree()">Duyệt</button></a>
                        <script type="text/javascript">
                            function promptthree() {
                                prompt("Chuyên mục", '');
                                prompt("Nhãn", '');
                                prompt("Ngày xuất bản", '');
                            }
                        </script>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="promptthree()">Duyệt</button></a>
                        <script type="text/javascript">
                            function promptthree() {
                                prompt("Chuyên mục", '');
                                prompt("Nhãn", '');
                                prompt("Ngày xuất bản", '');
                            }
                        </script>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="promptthree()">Duyệt</button></a>
                        <script type="text/javascript">
                            function promptthree() {
                                prompt("Chuyên mục", '');
                                prompt("Nhãn", '');
                                prompt("Ngày xuất bản", '');
                            }
                        </script>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="promptthree()">Duyệt</button></a>
                        <script type="text/javascript">
                            function promptthree() {
                                prompt("Chuyên mục", '');
                                prompt("Nhãn", '');
                                prompt("Ngày xuất bản", '');
                            }
                        </script>
                        <a href="#"><button type="button" style="width: 100px;" class="btn btn-warning"
                                onclick="prompt('Lý do từ chối', '')">Từ Chối</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="biTuChoi" role="tabpanel" aria-labelledby="tab-css">
        <table id="biTuChoi" class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên phóng viên</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Ngày gửi bài viết</th>
                    <th>Lý do từ chối</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>Viết sai từ vựng</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>Viết sai từ vựng</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>Viết sai từ vựng</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>Viết sai từ vựng</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>Viết sai từ vựng</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="daDuyet" role="tabpanel" aria-labelledby="tab-css">
        <table id="daDuyet" class="table">
            <thead style="background: #5F9EA0">
                <tr class="info">
                    <th>STT</th>
                    <th>Tên phóng viên</th>
                    <th>Tên bài viết</th>
                    <th>Chuyên mục</th>
                    <th>Nhãn</th>
                    <th>Ngày xuất bản</th>
            </thead>
            <tbody style="background: #FFEBCD">
                <tr>
                    <td>1</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>#Default</td>
                    <td>5/5/2019</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>#Default</td>
                    <td>5/5/2019</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>#Default</td>
                    <td>5/5/2019</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>#Default</td>
                    <td>5/5/2019</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>abcxyz</td>
                    <td>def@somemail.com</td>
                    <td>Default</td>
                    <td>#Default</td>
                    <td>5/5/2019</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>